img {
  pointer-events: none;
  user-select: none;
  user-drag: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a.artist-credit {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 6.615vw;
  height: 8.125vw;
}

.map {
  position: absolute;
  height: 100vh;
  width: 100vw;
  vertical-align: top;
  overflow: hidden;
  z-index: -1;

  .map-img {
    padding-left: 320px;
    width: auto;
    height: 100%;
    position: absolute;
    right: 0;
    margin-right: 0!important;
    width: initial!important;
    min-width: initial!important;
  }

}

.planet-area {
  display: inline;
  position: absolute;
  width: 90px;
  height: 90px;
  top: 1025px;
  left: 1868px;
  overflow: visible;
  cursor: pointer;
  padding-left: 0!important;
  z-index: 2;

  span {
      position: absolute;
      top: -71px;
      left: 80px;
      text-align: center;
      color: lightgrey;
      font-size: 34px;
      font-weight: bold;
      text-shadow: 1px 1px black;
      border-bottom: grey solid 2px;
      line-height: 96%;
      padding: 20% 15px 0 0;
      white-space: nowrap;
    }
}

.info-panel {
  padding-left: 0!important;
  color: #A5A5A5;
  position: absolute;
  top: 5.33618vh;
  left: 1.5625vw;
  font-size: 1.92102vh;
  height: 100%!important;

  .planet-img {
    margin-left: 2.60417vw;
    height: 28.38847vh;
    width: 28.38847vh;
    position: relative;
    z-index: 0;
  }

  div {
    padding-left: 0!important;
    width: 25.78125vw;

    h1 { font-size: 5.33618vh; }
  }

  .zoomcone {
    z-index: 1;
  }
}

